

@media only screen and (min-height: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand{
        padding: 0%;
        margin: 0%;
    }
 
}
/* 340px */
@media only screen and (max-width: 340px){
    .site-main .services-area{
        padding: 1%;
        margin: 10%;
        width: 10px; 
    }
    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .site-area .services{
        width: 13rem;
    }

   
}
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    #galeria > div{
        width: 470px;
        height: 470px;
        
    }

    #galeria .foto:target{
        position:static;
        width: 470px;
        top: 55px;
        left: 25%;
        padding: 5px;
        border: solid 2px #333;
        box-shadow: 0 0 25px 10px #000;
        background: white;
        border-radius: 15px;
        text-align: center;
    }

    .site-main .brand-area .experience-area .years-area{
        background: url(../img/client-info-bg.png) no-repeat 45px 20px;
        padding: 2rem 0;
        width: 40rem;
        height: 18rem;
        padding-left: 4rem;
        position: relative;
    }

}

@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
        
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }

   
}
 